<!doctype html>
<html class='no-js' lang='pt-br'>

    <head>
        <meta charset='utf-8'>
        <title>Mergulho Alagoas - Centro de Mergulho | CURSOS</title> <!-- Titulo da pagina -->
        <meta name='author' content='Celso Pereira de Araujo'> <!-- Autor da pagina -->

        <meta name='description' content=''> <!-- Descricao do conteudo da pagina -->
        <meta name='keywords' content='aaaa, bbbb, ccc, xxxx'> <!-- keywords para sites de busca -->
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <meta name='theme-color' content='#fafafa'>

        <link rel='manifest' href='#'>
        <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico">
        <!-- Place favicon.ico in the root directory -->

        <link rel='stylesheet' href='../css/main.css'>
    </head>

    <body onload="marcado('espec')">
        <header>
            <section class="cabecalho">
                <div class="cabecalhologo">
                    <img src="../images/scuba-logo.png" alt="scubalogotipo">
                </div>
                <div class="cabecalhotexto">
                    <h1>Mergulho Alagoas</h1>
                    <h2>Cursos e Experiências de Mergulho em Maceió</h2>
                </div>
            </section>
        </header>
        <nav>
            <ul>
                <li><a id="home" href="../index.html">Home</a></li>
                <li><a id="espec" href="./espec.html">Especializações</a></li>
                <li><a id="contato" href="./contato.html">Contato</a></li>
                <li><a id="sobre" href="./sobre.html">Sobre</a></li>
            </ul>
        </nav>

        <section class="conteudo">
            <section class="lateral">
                <div class="atividade batismo" onclick="textoBatismo();">
                    <h1>Batismo de Mergulho</h1>
                </div>
                <div class="atividade basico" onclick="textoBasico();">
                    <h1>Curso Básico</h1>
                </div>
                <div class="atividade avancado" onclick="textoAvancado();">
                    <h1>Curso Avançado</h1>
                </div>
                <div class="atividade especializacao" onclick="textoEspec();">
                    <h1>Especializações</h1>
                </div>
            </section>

            <section class="principal" id="descricao">
                <h1>Especializações de Mergulho</h1>

                <h3 onclick="exibir('adpt-desc')">Adaptative Techniques</h3>
                <p class="espec-descricao" id="adpt-desc" hidden>Torne-se mais consciente e ciente das considerações
                    individuais ao introduzir pessoas com deficiência
                    ao mergulho ou ao mergulho livre.<br>
                    O curso de especialização em técnicas adaptativas da PADI baseia-se numa visão inclusiva,
                    aprimorando o treinamento que os profissionais da PADI recebem e preparando-os para abordagens
                    centradas no aluno e prescritivas ao adaptar as técnicas para atender às necessidades dos
                    mergulhadores.</p>

                <h3 onclick="exibir('coral-desc')">AWARE Coral Reef Conservation</h3>
                <p class="espec-descricao" id="coral-desc" hidden>Torne-se consciente da fragilidade de recifes de
                    corais e como você pode ajudar a preservá-los. O que
                    você aprende com AWARE - Coral Reef Conservation, curso de especialidade de conservação ensina sobre
                    o papel vital dos recifes de coral no ambiente marinho.<br>
                    O curso também irá familiariza-lo com o estado atual dos recifes de coral do mundo e como você pode
                    ajudar.</p>

                <h3 onclick="exibir('deep-desc')">Deep Diver</h3>
                <p class="espec-descricao" id="deep-desc" hidden>O curso de especialidade Deep Diver PADI lhe oferece a
                    oportunidade única de visitar áreas profundas
                    para ver coisas com as quais as outras pessoas só podem sonhar. Neste curso, você descobrirá o que é
                    mergulhar além de 18 metros/60 pés de profundidade. Lá embaixo, as coisas são diferentes.<br>
                    Para ir fundo é preciso ter mais treinamento. E é aqui que você o obtém!</p>

                <h3 onclick="exibir('foto-desc')">Digital Underwater Photographer</h3>
                <p class="espec-descricao" id="foto-desc" hidden>A fotografia subaquática é uma das especialidades de
                    mergulho mais populares e a ascensão da fotografia subaquática digital tornou-a mais fácil e
                    divertida do que nunca.<br>
                    O curso PADI Digital Underwater Photographer faz com que você trabalhe rapidamente com os modernos
                    equipamentos digitais atuais, seja com uma câmera de apontar e disparar ou uma sofisticada D-SLR
                    como os profissionais.</p>

                <h3 onclick="exibir('o2-desc')">Emergency Oxygen Provider</h3>
                <p class="espec-descricao" id="o2-desc" hidden>Quando ocorre um acidente de mergulho, a capacidade de
                    reconhecer o problema e responder com os devidos cuidados pode acelerar a recuperação do mergulhador
                    e minimizar os efeitos duradouros.<br>
                    Este curso ensinará as técnicas de administração de oxigênio de emergência para suspeitas de lesões
                    de mergulho e afogamento não fatal. Você aprenderá os fundamentos do reconhecimento de lesões por
                    mergulho junto com a resposta e o gerenciamento da situação.</p>

                <h3 onclick="exibir('ean-desc')">Enriched Air Diver</h3>
                <p class="espec-descricao" id="ean-desc" hidden>Aumente o seu tempo de fundo com o curso de Ar
                    Enriquecido (Nitrox).<br>
                    O curso Nitrox ou EAN está direcionado a mergulhadores certificados que desejam um maior
                    conhecimento sobre os limites não descompressivos e assim estende-los com o uso de uma mistura
                    gasosa diferente do ar respirável.</p>

                <h3 onclick="exibir('equip-desc')">Equipment Specialist</h3>
                <p class="espec-descricao" id="equip-desc" hidden>O curso de Especialista em Equipamentos vai te ensinar
                    a realizar a manutenção correta de vários equipamentos, o cuidado diário e como realizar pequenos
                    reparos. Você também obtém informações básicas interessantes sobre como seu equipamento funciona e
                    como ele está sendo reparado. Você também obtém informações que ajudam você a aproveitar ao máximo o
                    que investiu em seu equipamento.<br>
                    Você NÃO se tornará um técnico de manutenção, mas você estará preparado para a manutenção básica de
                    seus equipamentos de mergulho, cuidados e ajustes com os quais você terá que lidar diariamente.</p>

                <h3 onclick="exibir('night-desc')">Night Diver</h3>
                <p class="espec-descricao" id="night-desc" hidden>Veja seus pontos de mergulho favoritos de uma
                    perspectiva totalmente nova à noite. O recife ganha vida, já que muitos dos habitantes da luz do dia
                    se refugiam na segurança de tocas e bordas, enquanto criaturas noturnas
                    tomam conta do recife.<br>
                    O curso de especialização em Mergulho Noturno concentra-se nas habilidades e conhecimentos
                    específicos necessários para aumentar sua diversão e segurança durante as imersões noturnas.</p>

                <h3 onclick="exibir('ppb-desc')">Peak Performance Buoyancy</h3>
                <p class="espec-descricao" id="ppb-desc" hidden>O domínio da flutuabilidade é o que separa os bons
                    mergulhadores dos excelentes mergulhadores. Seja um mergulhador com amplo controle de sua
                    flutuabilidade, tenha capacidade de levitar próximo do fundo e examinar organismos subaquáticos sem
                    tocá-los.<br>
                    No curso de especialidade Máximo Desempenho em Flutuação (Peak Performance Buoyancy PADI), você
                    aprenderá como usar a quantidade precisa de lastro para ter controle, postura e equilíbrio durante
                    seus mergulhos.</p>

                <h3 onclick="exibir('aware-desc')">Project Aware</h3>
                <p class="espec-descricao" id="aware-desc" hidden> Aprenda sobre alguns dos problemas mais prementes que
                    afligem os ecossistemas aquáticos vulneráveis e as medidas cotidianas que você pode tomar para
                    ajudar a preservá-los. É informativo, interessante e, mais importante, você aprenderá como
                    contribuir para fazer diferença.<br>
                    Além de concluir o curso Project AWARE® Specialist, você pode se tornar um parceiro nos esforços
                    para preservar o meio ambiente subaquático, o ecossistema oceânico e problemas costeiros.</p>

                <h3 onclick="exibir('recovery-desc')">Search & Recovery</h3>
                <p class="espec-descricao" id="recovery-desc" hidden>Quando você vai pescar, passear de barco, mergulhar
                    e fazer outras atividades aquáticas, as coisas podem cair por acidente. Se você não conhece as
                    técnicas em busca e recuperação de objetos perdidos, você teria menos chance de encontrar esses
                    itens preciosos e também poderia entrar no incômodo de alguém encontrá-los para você.<br>
                    Com a especialização de Busca e Recuperação PADI, você poderá desenvolver habilidades que ajudarão
                    você a encontrar e recuperar de forma eficaz e eficiente objetos debaixo d'água.</p>

                <h3 onclick="exibir('wreck-desc')">Wreck Diver</h3>
                <p class="espec-descricao" id="wreck-desc" hidden> Curso de Mergulho em Naufrágios é talvez o curso mais
                    procurado! Mergulhar em um naufrágio é mergulhar no passado. Seja em navios, aviões ou carros, é
                    como entrar em verdadeiros portais do tempo. Descubra porque cada vez mais pessoas se especializam
                    nesse tipo de mergulho.
                    É ideal para um melhor aproveitamento de seus mergulhos, já que você aprenderá técnicas de
                    penetração, sinalização, procedimentos de emergência, navegação, mapeamento e identificação dos
                    pontos de um naufrágio!</p>
            </section>
        </section>
        <footer>
            <p>Criado por Celso Pereira de Araújo&#9400;</p>
            <p>INTW102 - Introdução às Tecnologias WEB</p>
        </footer>
        <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous">
        </script>
        <script src='../js/main.js'></script> <!-- Add your javascript here -->

        <!-- Google Analytics: change UA-XXXXX-Y to be your sites ID. -->
        <!--
    <script>
        window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
        ga('create', 'UA-XXXXX-Y', 'auto'); ga('set','transport','beacon'); ga('send', 'pageview')
    </script>
    <script src='https://www.google-analytics.com/analytics.js' async defer></script>
    -->
    </body>

</html>