<!doctype html>
<html class='no-js' lang='pt-br'>

    <head>
        <meta charset='utf-8'>
        <title>Mergulho Alagoas - Centro de Mergulho | SOBRE</title> <!-- Titulo da pagina -->
        <meta name='author' content='Celso Pereira de Araujo'> <!-- Autor da pagina -->

        <meta name='description' content=''> <!-- Descricao do conteudo da pagina -->
        <meta name='keywords' content='aaaa, bbbb, ccc, xxxx'> <!-- keywords para sites de busca -->
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <meta name='theme-color' content='#fafafa'>

        <link rel='manifest' href='#'>
        <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico"> <!-- Place favicon.ico in the root directory -->

        <link rel='stylesheet' href='../css/main.css'>
    </head>

    <body>
            <header>
                    <section class="cabecalho">
                        <div class="logotipo">
                            <img src="../images/scuba-logo.png" alt="scubalogotipo">
                        </div>
                        <div class="cabecalhotexto">
                            <h1>Mergulho Alagoas</h1>
                            <h2>Cursos e Experiências de Mergulho em Maceió</h2>
                        </div>
                    </section>
                </header>
        <nav>
            <ul>
                <a href="../index.html"><li>Home</li></a>
                <a href="cursos.html"><li>Especializações</li></a>
                <a href="contato.html"><li>Contato</li></a>
                <a href="sobre.html"><li>Sobre</li></a>
            </ul>
        </nav>

        <section class="conteudo">
            <section class="inst-pessoal">
                <img src="../images/me.jpg" alt="foto pessoa">
                <h1>Celso Pereira de Araújo</h1>
                <h2>Instrutor de Mergulho</h2>
                <h2>PADI #397.346</h2>
                <p>Celso é o instrutor responsável pelos cursos e demais atividades de mergulho.<br>
                    Possui mais de 2 anos de experiência como instrutor e participou da formação de mergulhadores do
                    nivel básico ao profissional.<br>
                </p>

            </section>

            <section class="inst-mergulho">
                <h1 id="desc_titulo">Cursos de Mergulho</h1>
                <h2>Instrutor de Primeiros Socorros</h2>
                <p>É instrutor de primeiros socorros e RCP, credenciado pela <a
                        href="https://www.emergencyfirstresponse.com/">EFR - Emergency First Response</a>&#9400.<br>Está
                    apto a ministrar os seguintes cursos EFR:
                    <ul>
                        <li>Primary Care (CPR & AED)</li>
                        <li>Secondary Care (First Aid)</li>
                        <li>Care for children</li>
                    </ul>
                </p>
                <h2>Open Water Scuba Instructor</h2>
                <p>Formou-se instrutor de mergulho em abril/2017, pela <a href="https://www.padi.com/">PADI -
                        Professional Association of Diving Instructors</a>&#9400.<br> Concluiu seu curso com Miltom
                    Marinho Júnior, Course Director com mais de 26 anos de experiência e altamente premiado, atualmente
                    ocupa o cargo de Gerente Regional da América do Sul.</p>
                <h2>IDC Staff Instructor</h2>
                <p>Com o intuito de conhecer novas técnicas e filosofias de ensino, realizou seu curso em
                    Lanzarote, nas Ilhas Canárias - Espanha.<br> Teve como instrutor o Course Director Marco Mancinelli,
                    atual Consultor de Treinamento Regional no escritório da PADI em Bristol/Inglaterra.<br>
                    Como IDC Staff Instructor está apto a formar Assistentes de Instrutores e participar do Curso de
                    Desensolvimento de Instrutores (IDC).</p>

            </section>
        </section>





        <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous">
        </script>
        <script src='../js/main.js'></script> <!-- Add your javascript here -->

        <!-- Google Analytics: change UA-XXXXX-Y to be your sites ID. -->
        <!--
    <script>
        window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
        ga('create', 'UA-XXXXX-Y', 'auto'); ga('set','transport','beacon'); ga('send', 'pageview')
    </script>
    <script src='https://www.google-analytics.com/analytics.js' async defer></script>
    -->
    </body>

</html>